<%- include('partials/header') %> 
 <!-- ya jala -->
    <div class="buscarqr">
    <form action="/buscar" method="POST">
        <div class="form-group">
          <label for="qr">Qr</label>
          <input type="text" class="form-control" name="qr">
        </div>
        <button type="submit" class="btn2 btn-dark">buscar</button>
      </form>
    </div>

    <div class="conteinerbuscar"> <!--esto abarca toda la imagen-->

      <div class="hero"> <!--abarca toda el div de containerbuscar para poder hacer la vista paralela-->

      <div class="destrem"> <!--abarca remitente y destinatario para poder poner un div sobre el otro-->
      <div class="remitentebuscar">
        <h1>Remitente</h1>
        <p>hola</p>
        <p>hola</p>
        <p>hola</p>
      </div>

      <div class="destinatariobuscar">
        <h1>Destinatario</h1>
        <p>betito</p>
        <p>betito</p>
        <p>betito</p>
      </div>
    </div>

      <div class="estadobuscar">
        <h1>Estado</h1>
        <p>gay si no te gusta</p>
        <p>gay si no te gusta</p>
        <p>gay si no te gusta</p>
      </div>
    </div>
    </div>
<%- include('partials/footer') %>