<%- include('partials/header') %> 

    <form action="/buscar" method="POST">
        <div class="form-group">
          <label for="qr">qr</label>
          <input type="text" class="form-control" name="qr">
        </div>
        <button type="submit" class="btn btn-dark">buscar</button>
      </form>

<%- include('partials/footer') %>