<%- include('partials/header') %> 
 <!-- esto se puede ver logeandose como aduanero Dicias 1234  -->
  <main class="createIns">

    
    <form action="/createInspection" method="POST">
        <div class="form-group">
          <label for="">Comentario</label>
          <input type="text" class="form-control" name="comentarios">
        </div>
        <div class="form-group">
            <label for="comentario">Estado</label>
            <select name="resultado" id="resultado">
                <option value="Aprobado">Aprobado</option>
                <option value="Denegado">Denegado</option>
                <option value="Requiere Revisión">Requiere Revisión</option>
            </select>
        </div>
        <button type="submit" class="btn2 btn-dark">Enviar</button>
      </form>
    
  </main>

<%- include('partials/footer') %>