<%- include('partials/header') %>

    <h1>ESTO ES UN HOME PAGE</h1>
    <p><a href="/paquete">Agregar paquetes</a></p>
    <p><a href="/buscar">buscar paquetes</a></p>

<%- include('partials/footer') %>