<%- include('partials/header') %>
    <h1 class="titulo">ESTO ES UN HOME PAGE</h1>
    <p><a href="/paquete" class="home">Agregar paquetes</a></p>
    <p><a href="/buscar" class="home">buscar paquetes</a></p>

    <%- include('partials/footer') %>