<%- include('partials/header') %>
 <!-- jala lee el QR es el donde esta el boton para abrir la camara -->
 <!-- crear un boton que mande a createInspection -->
    <script src="/html5-qrcode/html5-qrcode.min.js"></script>
    <h1 class="hola">Hola mundo</h1>
    <div id="reader"></div>
    <div id="result"></div>
    <script src="/scripts/qrscanner.js">
    </script>

<%- include('partials/footer') %>