<%- include('partials/header') %>

    <script src="/html5-qrcode/html5-qrcode.min.js"></script>
    <div id="reader"></div>
    <div id="result"></div>
    <script src="/scripts/qr.js">
    </script>

<%- include('partials/footer') %>