<%- include('partials/header') %>
<!-- jala ACOMODAR LINDO COMO EN BIENES RAICES -->

<div class="landingp">
<h1 class="tituloland">SECURETRACK</h1>
<div class="parrafolandin">
<p class="somossecure">SecureTrack es una aplicación/portal en línea diseñada para proporcionar una trazabilidad completa y transparente de productos desde el punto de origen hasta el destino final.</p>
</div>
<div class="landinbuscar">
    <p><a class="buscarland" href="/buscar">Buscar paquetes</a></p>
    <!-- <input type="submit" value="Buscar paquetes" class="btn btn-dark" href="/buscar"> -->
</div>    

<div class="landinlogin">
    <p><a class="loginland" href="/login">Ingresar</a></p>
</div>

<section class="logolandin">
      
    <img class="imagenlogo" src="/img/logo.jpg" alt="">
    
     </section>
</div>

<%- include('partials/footer') %>