<%- include('partials/header') %>
<!-- jala ACOMODAR LINDO COMO EN BIENES RAICES -->

<div class="landingp">
<h1 class="tituloland">BIENVENIDO A SECURETRACK</h1>
<div class="landingb">
    <p><a class="buscarland" href="/buscar">Buscar paquetes</a></p>
    <p><a class="buscarland" href="/login">Ingresar</a></p>
</div>    
</div>

<%- include('partials/footer') %>