<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <!-- <h1>LOGIN</h1>
=======
<%- include('partials/header') %>
    <h1>LOGIN</h1>
>>>>>>> db30b2f7060179fc06bd4cf583292eab5ffbb581
    <form action="/login" method="POST">
        <div class="form-group">
          <label for="usuario">usuario</label>
          <input type="text" class="form-control" name="username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-dark">Login</button>
      </form> -->

      <main class="principal">
        <div class="container">

      <section class="login">
        <h1>Inicio de sesion</h1>

    <form action="" class="formulario" mehod ="POST">
        <fieldset>
        <div class="campo">
            
            <label class="usuario" for="">Usuario</label>
            <input class="input-text" type="text" name="" id="" placeholder="Alberto#233">    
       

            <label class="usuario" for="">Contraseña</label>
            <input class="input-text" type="text" name="" id="" placeholder="123456">
     

            <input class="boton w-sm-100" type="submit" name="" id="" value="Enviar">
        </div>
    
        </fieldset>
        </form>
    </section>

    <section class="logo">
      
      <img class="imagen" src="/public/img/logo.jpg" alt="">
      
       </section>
      </div> <!--aqui termina los container de fecha login-->
    </main>

<%- include('partials/footer') %>