<%- include('partials/header') %>
<<<<<<< HEAD
=======

>>>>>>> 30270c83ef0cdebea82fec014ab81d314f3ae222
      <main class="principal">
        <div class="container">

      <section class="login">
        <h1>Inicio de sesion</h1>

    <form action="/login" class="formulario" method ="POST">
        <fieldset>
        <div class="campo">
            
            <label class="usuario" for="">Usuario</label>
            <input class="input-text" type="text" name="username" id="" placeholder="Alberto#233">    
       

            <label class="usuario" for="">Contraseña</label>
            <input class="input-text" type="text" name="password" id="" placeholder="123456">
     

            <input class="boton w-sm-100" type="submit" name="" id="" value="Enviar">
        </div>
    
        </fieldset>
        </form>
    </section>

    <section class="logo">
      
      <img class="imagen" src="/img/logo.jpg" alt="">
      
       </section>
      </div> <!--aqui termina los container de fecha login-->
    </main>

<%- include('partials/footer') %>