<%- include('partials/header') %>
<<<<<<< HEAD
    <h1>LOGIN</h1>
    <form action="/login" method="POST">
        <div class="form-group">
          <label for="usuario">usuario</label>
          <input type="text" class="form-control" name="username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-dark">Login</button>
      </form> -->

=======
>>>>>>> 3d15a4cfa2653a26449937e48f32e10882953f00
      <main class="principal">
        <div class="container">

      <section class="login">
        <h1>Inicio de sesion</h1>

    <form action="/login" class="formulario" method ="POST">
        <fieldset>
        <div class="campo">
            
            <label class="usuario" for="">Usuario</label>
            <input class="input-text" type="text" name="username" id="" placeholder="Alberto#233">    
       

            <label class="usuario" for="">Contraseña</label>
            <input class="input-text" type="text" name="password" id="" placeholder="123456">
     

            <input class="boton w-sm-100" type="submit" name="" id="" value="Enviar">
        </div>
    
        </fieldset>
        </form>
    </section>

    <section class="logo">
      
      <img class="imagen" src="/img/logo.jpg" alt="">
      
       </section>
      </div> <!--aqui termina los container de fecha login-->
    </main>

<%- include('partials/footer') %>