<%- include('partials/header') %>

<div class="pack">
  <h1 class="titulopack">AGREGAR NUEVO PAQUETE</h1>

  <form action="/paquete" method="POST">
    <div class="row">
      <fieldset class="fielpack">
        <div class="form-group">
          <h2 class="titulospack">Remitente</h2>
          <label for="nombre_remitente">Nombre</label>
          <input type="text" class="form-control" name="nombre_remitente">
          
          <label for="direccion_remitente">Direcci贸n</label>
          <input type="text" class="form-control" name="direccion_remitente">
          
          <label for="telefono_remitente">Telefono</label>
          <input type="text" class="form-control" name="telefono_remitente">
          
          <label for="email_remitente">Email</label>
          <input type="text" class="form-control" name="email_remitente">
        </div>
      </fieldset>

      <fieldset class="fielpack">
        <h2 class="titulospack">Destinatario</h2>
        <div class="form-group">
          <label for="nombre_destinatario">Nombre</label>
          <input type="text" class="form-control" name="nombre_destinatario">
          
          <label for="direccion_destinatario">Direcci贸n</label>
          <input type="text" class="form-control" name="direccion_destinatario">
          
          <label for="telefono_destinatario">Telefono</label>
          <input type="text" class="form-control" name="telefono_destinatario">
          
          <label for="email_destinatario">Email</label>
          <input type="text" class="form-control" name="email_destinatario">
        </div>
      </fieldset>
    </div>

    <fieldset class="fielpack2">
      <div class="form-group">
        <h2 class="titulospack">Informaci贸n del Paquete</h2>
        
        <label for="descripcion">Descripci贸n</label>
        <input type="text" class="form-control" name="descripcion">
      </div>
    </fieldset>
    
    <button type="submit" class="btn btn-dark">Agregar</button>
  </form>
</div>

<%- include('partials/footer') %>
