<%- include('partials/header') %>

<h1>Registrar</h1>

<form action="/registrar" method="POST">
  <div class="form-group">
    <label for="usuario">Usuario</label>
    <input type="text" class="form-control" name="username" id="usuario">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" id="password">
  </div>
  <div class="form-group">
      <label for="puesto">Puesto</label>
      <select name="puesto" id="puesto">
          <option value="Inspector de Aduanas">Inspector de Aduanas</option>
          <option value="Inspector de Calidad">Inspector de Calidad</option>
          <option value="Transportista">Transportista</option>
          <option value="Supervisor de Logística">Supervisor de Logística</option>
      </select>
  </div>
  <div class="form-group">
      <label for="telefono">Teléfono</label>
      <input type="tel" class="form-control" name="telefono" id="telefono">
  </div>
  <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" name="email" id="email">
  </div>
  <button type="submit" class="btn btn-dark">Login</button>
</form>



<%- include('partials/footer') %>