<%- include('partials/header') %>

    <!--  YA JALO -->
    <div class="page">
        <div class="centro">
    <h1 class="titulo">SECURE TRACK</h1>
    <p><a href="/paquete" class="paquete">Agregar paquetes</a></p>
    <p><a href="/buscar" class="paquete">Buscar paquetes</a></p>
    <p><a href="/registrar" class="paquete">Agregar un nuevo empleado</a></p>
    <p><a href="/logout" class="paquete">Salir</a></p>
    </div>
    </div>

<%- include('partials/footer') %>