:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #FFC107;
  --secundario: #0097a7;
  --gris: #757575;
  --grisclaro: #DFE9F3;
  
      /* ejemplo de como aplicar las variables de :root
  background-color: var(--primario); 
   color: var(--oscuro); */
  
  }
  
  html{
      font-size: 62.2%;
      box-sizing: border-box;
      scroll-snap-type: y mandatory;
  }
  
  
   body{
   background-color: #02707c;
      
  }
  
  /* background-repeat: no-repeat; */
  
  
  /* main{
      margin-bottom: 5rem;
      background-color: var(--primario);
  } */
  
  /* el container va a agarrar todo el rectangulo  */
  
   p{
      display: flex;
      justify-content: center;
      align-items: center;
   }
   
   .titulo{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20rem;
   }

  .home{
    font-size: 3rem;
    color: black;
    text-decoration: none;
  }

 