/* <<<<<<< HEAD  */
:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #1f7a8c;
    --secundario: #0097a7;
    --primariooscuro: #145061;
    --gris: #757575;
    --grisclaro: #DFE9F3;
    --blancoopaco: #c4d1d7;
    
        /* ejemplo de como aplicar las variables de :root
    background-color: var(--primario); 
     color: var(--oscuro); */
    
    }
    
    html{
        font-size: 62.2%;
        box-sizing: border-box;
        scroll-snap-type: y mandatory;
    }
    
    
     body{
        font-size: 2rem;
        background-color: #1f7a8c;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    }
    
    /* main{
        margin-bottom: 5rem;
        background-color: var(--primario);
    } */
    
    /* el container va a agarrar todo el rectangulo  */
    .container{
        width: 90%;
        height: 100%;
        display: flex;
        align-items: flex-end; /* Centra horizontalmente el contenido flexbox */
        /* align-items: center;  */
        flex-direction: column;
        margin-right: 5rem;
        margin-top: 5rem;
        margin-bottom: 1rem;
        margin-left: 5rem;
        /* margin-bottom: 5rem; */
        /* background-color: black;  */
        
    }
    /* 
    .fecha{
         border-color: #1f7a8c; 
        color: var(--blanco);
        
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45rem;
        height: 10rem;
         Establecer el ancho y el estilo del borde primero 
        border-width: 0.3rem;
        border-style: solid;
        border-radius: 2rem;
         Luego, especificar el color del borde 
        border-color: var(--blanco);
        margin-bottom: 2.5rem;
     } */
    
     p{
        display: flex;
        justify-content: center;
        align-items: center;
     }
    
     .login{
        /* border-color: #1f7a8c; */
        color: var(--blanco);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 45rem;
        height: 28rem;
        /* Establecer el ancho y el estilo del borde primero */
        border-width: 0.3rem;
        border-style: solid;
        border-radius: 2rem;
        /* Luego, especificar el color del borde */
        border-color: var(--blanco);
        margin-bottom: 2.5rem;
        background-color: white;
        color: #1f7a8c;
     }
    
     .remitente{
       /* border-color: #1f7a8c; */
       color: var(--blanco);
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       width: 45rem;
       height: 40rem;
       /* Establecer el ancho y el estilo del borde primero */
       border-width: 0.3rem;
       border-style: solid;
       border-radius: 2rem;
       /* Luego, especificar el color del borde */
       border-color: var(--blanco);
       margin-bottom: 2.5rem;
       background-color: white;
       color: #1f7a8c;
       position: absolute;
       top: 61%;
       left: 5%;
       right: 50%;
       /* top: 25%; */
    }
    .destinatario{
       /* border-color: #1f7a8c; */
       color: var(--blanco);
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       width: 45rem;
       height: 37rem;
       /* Establecer el ancho y el estilo del borde primero */
       border-width: 0.3rem;
       border-style: solid;
       border-radius: 2rem;
       /* Luego, especificar el color del borde */
       border-color: var(--blanco);
       margin-bottom: 2.5rem;
       background-color: white;
       color: #1f7a8c;
       position: absolute; 
       left: 5%;
       /* right: %; */
       /* top: 51%;  */
    }
    
     .campo{
        color: #1f7a8c;
        padding-bottom: 3rem;
        margin-top: -2rem;
        font-weight: bold;
        /* background-color: black; */
        width: 25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* background-color: black; */
        
     }
     .input-text{
        background-color: rgb(218, 214, 214);
        width: 75%;
        padding: 1rem;
        border: none;
        /* margin-bottom: 1rem; */
        /* border-radius: 1rem; */
     }
    
     fieldset{
        border: none;
     }
    
     
     .usuario{
        /* background-color: black; */
        margin-bottom: 0.5rem;
     }
    /* .formulario{
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    } */
    
     .boton:hover{
        cursor: pointer;
    }
    
    .boton{
        background-color: #1f7a8c;
        color: var(--oscuro);
        padding: 1rem 3rem;
        /* margin-top: 1rem; */
        font-size: 1.3rem;
        /* text-decoration: none; */
        text-transform: uppercase; /*con esto se cambia toda la linea de texto en mayus*/
        font-weight: bold;
        border-radius: .5rem;
        width: 40%;
        text-align: center;
        border: none;    
        margin-top: 1rem;
    
    }
    
    .w-sm-100{
        
        /* margin-left: 3rem; */
        width: 85%;
    }
    
    .logo{
       /* background-color: white; */
       position: absolute;
       left: 10%;
       bottom: 50%;
       width: 40%;
       height: 40%;
       
    }
    
    
    .imagen{
       width: 100%;
       border-radius: 50rem;
    }
    
    .informacion{
     /* border-color: #1f7a8c; */
     color: var(--blanco);
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     width: 55rem;
     height: 120%;
     /* Establecer el ancho y el estilo del borde primero */
     border-width: 0.3rem;
     border-style: solid;
     border-radius: 2rem;
     /* Luego, especificar el color del borde */
     border-color: var(--blanco);
     margin-bottom: 2.5rem;
     background-color: white;
     color: #1f7a8c;
     position: absolute; 
     left: 55%;
     /* right: %; */
     /* top: 51%;  */
    }
/* ======= */
/* h1{
    color: red;
} */
/* >>>>>>> db30b2f7060179fc06bd4cf583292eab5ffbb581 */


/* securetrack*/
.titulo{
   font-size: 4.5rem;
   color:var(--primariooscuro);
   display: flex;
   justify-content: center;
   align-items: center;
   /* margin-top: 18rem; */
  }


 .paquete{
   font-size: 3rem;
   color: var(--primariooscuro);
   text-decoration: none;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .form-control{
   background-color: rgb(218, 214, 214);

 }

 .paquete:hover{
   color: #2f7787;
 }

 .page{

   width: 70rem;
   height: 50rem;
   /* background-image: url('/img/logistica1.jpg'); */
   background-size: cover;
   /* background-position: center; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-left: 30rem;
   margin-top: 10rem;
   
 }
 
 .centro{
   background-color: var(--blancoopaco);
   /* opacity: .7; */
   width: 60rem;
   margin-left: 3rem;
   border-radius: 7rem;
   
 }

 /* .page1{
   background-color: black;
   position: absolute;
 } */








/* PAQUETE  */

.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.pack{
   /* background-image: url('/img/paquete1.jpg'); */
   background-size: cover;
   /* background-color: white; */
   background-position: right;
   border-radius: .5rem;
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   align-items: center;
   margin-top: 5rem;
   padding-bottom: 2rem;
   font-size: 2.6rem;
}

.titulopack{
   font-size: 4rem;
   color: var(--blanco);
}

/* boton */
.btn{
   /* background-color: var(--secundario);
   width: 13rem;
   height: 3rem;
   border-radius: 13rem; */
   background: rgb(59,156,177);
        color: var(--blanco);
        padding: 1rem 3rem;
        /* margin-top: 1rem; */
        font-size: 1.3rem;
        /* text-decoration: none; */
        text-transform: uppercase; /*con esto se cambia toda la linea de texto en mayus*/
        font-weight: bold;
        border-radius: .5rem;
        border-width: 0.2rem;
        border-style: solid;
        border-color: var(--primariooscuro);
        width: 20%;
        text-align: center; 
        margin-top: 1rem;
}

.titulospack{
   color: #1f7a94;
}

.btn:hover{
   cursor: pointer;
}

.fielpack{
   background-color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 3rem;
   width: 50rem;
   height: 30rem;
   color: var(--primariooscuro);
   font-weight: bold;
   border-width: 0.5rem;
   border-style: solid;
   border-color: var(--primariooscuro);
   padding-bottom: 3rem;
}
.fielpack2{
   background-color: white;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 3rem;
   width: 55rem;
   height: 15rem;
   margin-left: 30rem;
   color: var(--primariooscuro);
   font-weight: bold;
   border-width: 0.5rem;
   border-style: solid;
   border-color: var(--primariooscuro);
}
.row {
   /* background-color: #0097a7; */
   display: flex;
   justify-content: center;
   gap: 10rem;
   width: 100%;
   margin-bottom: 2rem;
 }

 /* REGISTRAR */

 .tituloregistrar{
   color: var(--blanco);
   font-size: 7rem;
   text-transform: uppercase;
   
 }

 .registrar{
   /* background-image: url('/img/paquete2.jpg');   */
   /* background-size: cover;
   background-color: white; */
   background-position: right;
   border-radius: .5rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 8rem;
   padding-bottom: 5rem;
   font-size: 4rem;
 }
 
 .btn1{
   background: rgb(249, 251, 251);
        color: var(--oscuro);
        padding: 1rem 3rem;
        /* margin-top: 1rem; */
        font-size: 1.3rem;
        /* text-decoration: none; */
        text-transform: uppercase; /*con esto se cambia toda la linea de texto en mayus*/
        font-weight: bold;
        border-radius: .5rem;
        width: 40%;
        text-align: center;
        margin-top: 1rem;
        border-width: 0.2rem;
        border-style: solid;
        border-color: var(--primariooscuro);
 }

 .btn1:hover{
   cursor: pointer;
}

.fielregistro{
   background-color: var(--blancoopaco);
   /* opacity: .9; */
        color: #1f7a8c;
        /* opacity: .9; */
   width: 45rem;
   height: 38rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 2rem;
   font-weight: bold;
   border-width: 0.5rem;
   border-style: solid;
   border-color: var(--primariooscuro);
}

.inputs{
   margin-bottom: .6rem;
}

.form-group1{
   /* padding-bottom:  */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}


/* LANDING PAGE */

.landingp{
   /* background-image: url('/img/logistica2.jpg');   */
   /* background-color: #145061; */
   background-size: cover;
   background-position: right;
   height: 55rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: .5rem;
   margin-top: 4rem;
   
}

.tituloland{
   color: var(--blanco);

   margin-top: -7rem;
   font-size: 6rem;
   border-radius: .5rem;
   font-weight: bold;
   margin-right: 60%; 
}

.parrafolandin{
   background-color: #c4d1d7;
   color: var(--primario);
   border-radius: 3rem;
   width: 45rem;
   margin-right: 60%;
   margin-bottom: 1rem;
   font-weight: bold;
   font-size: 2.2rem;
   padding-right: 1rem;
   padding-left: 2rem;
}

.landinbuscar{
   background-color: #c4d1d7;
   border-radius: .5rem;
   margin-right: 75%;
   border-radius: 2rem;
   padding-right: 1rem;
   padding-left: 2rem;}


.landinlogin{
   background-color: var(--blanco);
   width: 15rem;
   border-radius: 2rem;
   background-color: #c4d1d7;
}

.buscarland{
   color: var(--oscuro);
   text-decoration: none;
   font-size: 3rem;
   font-weight: bold;
}

.loginland{
   color: var(--oscuro);
   text-decoration: none;
   font-size: 3rem;
   font-weight: bold;
}

.logolandin{
   width: 35rem;
   position: absolute;
   left: 65%;
   bottom: 30%;
}

.imagenlogo{
   width: 100%;
   border-radius: 50rem;
}



/* CREATE INSPECTION */

.createIns{
   background-color: grey;
   opacity: .9;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: .5rem;
   margin-top: 20rem;
   width: 50rem;
   margin-left: 40rem;
   height: 25rem;
   font-size: 3rem;
}

input{
   border-radius: .5rem;
}

.btn2{
   background: rgb(59,156,177);
        color: var(--oscuro);
        padding: 1rem 3rem;
        /* margin-top: 1rem; */
        font-size: 1.3rem;
        /* text-decoration: none; */
        text-transform: uppercase; /*con esto se cambia toda la linea de texto en mayus*/
        font-weight: bold;
        border-radius: .5rem;
        width: 60%;
        text-align: center;
        margin-top: 1rem;
        border-width: 0.2rem;
        border-style: solid;
        border-color: var(--primariooscuro);
 }

 .btn2:hover{
   cursor: pointer;
}


/* BUSCAR */
.buscarqr{
   /* background-color: var(--gris); */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 1rem;
}

.conteinerbuscar{
   /* background-color: var(--gris); */
   background-image: url('/img/logistica3.jpg');
   background-size: cover;
}


.remitentebuscar{
   background-color: white;
   /* opacity: .8; */
   width: 50rem;
   height: 35rem;
   /* backdrop-filter: blur(10px); */
   color: #0097a7;
}

.destinatariobuscar{
   background-color: white;
   width: 50rem;
   height: 35rem;
   color: #0097a7;

}

.estadobuscar{
   background-color: white;
   width: 50rem;
   height: 74rem;
   margin-top: 2.1rem;
   color: #0097a7;
}

.hero{
   /* background-color: black; */
   display: flex;
   justify-content: center;
   gap: 20rem;
   width: 100%;
   margin-bottom: 2rem;
   padding: 1rem;
}